USE [master]
GO
/****** Object:  Database [QLSCL]    Script Date: 15/05/2024 11:07:53 AM ******/
CREATE DATABASE [QLSCL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSCL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLSCL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSCL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLSCL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSCL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSCL]
GO
/****** Object:  Table [dbo].[CA]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA](
	[MaCa] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianBD] [varchar](10) NULL,
	[ThoiGianKT] [varchar](10) NULL,
 CONSTRAINT [PK_CA] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATHUE]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATHUE](
	[MaCaThue] [int] IDENTITY(1,1) NOT NULL,
	[Gia] [int] NULL,
	[MaSan] [int] NULL,
	[MaCa] [int] NULL,
 CONSTRAINT [PK_CATHUE] PRIMARY KEY CLUSTERED 
(
	[MaCaThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATSAN]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATSAN](
	[MaPhieu] [int] NOT NULL,
	[MaCaThue] [int] NOT NULL,
	[TienCoc] [int] NULL,
 CONSTRAINT [PK_CHITIETDATSAN] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaCaThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[ThoiGianBD] [datetime] NULL,
	[ThoiGianKT] [datetime] NULL,
	[MaHD] [int] NOT NULL,
	[MaCaThue] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaCaThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianThanhToan] [datetime] NULL,
	[HoTenNguoiTT] [nvarchar](50) NULL,
	[NhanVienTT] [nvarchar](50) NULL,
	[TongTien] [int] NULL,
	[MaPhieu] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Quyen] [nchar](10) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATSAN]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATSAN](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[NgayDat] [date] NULL,
	[MaKH] [int] NULL,
 CONSTRAINT [PK_PHIEUDATSAN] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN](
	[MaSan] [int] IDENTITY(1,1) NOT NULL,
	[TenSan] [nchar](10) NULL,
 CONSTRAINT [PK_SAN] PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGSAN]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGSAN](
	[MaTinhTrang] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[MaCaThue] [int] NULL,
 CONSTRAINT [PK_TINHTRANGSAN] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATHUE]  WITH CHECK ADD  CONSTRAINT [FK_CATHUE_CA] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CA] ([MaCa])
GO
ALTER TABLE [dbo].[CATHUE] CHECK CONSTRAINT [FK_CATHUE_CA]
GO
ALTER TABLE [dbo].[CATHUE]  WITH CHECK ADD  CONSTRAINT [FK_CATHUE_SAN] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SAN] ([MaSan])
GO
ALTER TABLE [dbo].[CATHUE] CHECK CONSTRAINT [FK_CATHUE_SAN]
GO
ALTER TABLE [dbo].[CHITIETDATSAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATSAN_CATHUE] FOREIGN KEY([MaCaThue])
REFERENCES [dbo].[CATHUE] ([MaCaThue])
GO
ALTER TABLE [dbo].[CHITIETDATSAN] CHECK CONSTRAINT [FK_CHITIETDATSAN_CATHUE]
GO
ALTER TABLE [dbo].[CHITIETDATSAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATSAN_PHIEUDATSAN] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUDATSAN] ([MaPhieu])
GO
ALTER TABLE [dbo].[CHITIETDATSAN] CHECK CONSTRAINT [FK_CHITIETDATSAN_PHIEUDATSAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_CATHUE] FOREIGN KEY([MaCaThue])
REFERENCES [dbo].[CATHUE] ([MaCaThue])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_CATHUE]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUDATSAN] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUDATSAN] ([MaPhieu])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUDATSAN]
GO
ALTER TABLE [dbo].[PHIEUDATSAN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATSAN_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUDATSAN] CHECK CONSTRAINT [FK_PHIEUDATSAN_KHACHHANG]
GO
ALTER TABLE [dbo].[TINHTRANGSAN]  WITH CHECK ADD  CONSTRAINT [FK_TINHTRANGSAN_CATHUE] FOREIGN KEY([MaCaThue])
REFERENCES [dbo].[CATHUE] ([MaCaThue])
GO
ALTER TABLE [dbo].[TINHTRANGSAN] CHECK CONSTRAINT [FK_TINHTRANGSAN_CATHUE]
GO
/****** Object:  StoredProcedure [dbo].[hienThiDsSanChuaDat]    Script Date: 15/05/2024 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[hienThiDsSanChuaDat]
    @MaCa INT,
    @Ngay DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.SAN s
    WHERE s.MaSan NOT IN (
        SELECT s.MaSan
        FROM dbo.SAN s
        INNER JOIN dbo.CATHUE c ON c.MaSan = s.MaSan
        LEFT JOIN dbo.CA ca ON ca.MaCa = c.MaCa
        JOIN dbo.TINHTRANGSAN t ON t.MaCaThue = c.MaCaThue
        WHERE c.MaCa = @MaCa AND ca.MaCa = @MaCa AND t.Ngay = @Ngay
    );
END;
GO
USE [master]
GO
